.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  background: linear-gradient(0deg, rgba(29,32,38,0.9) 0%, rgba(0,212,255,0) 100%);

  .tilt {
    display: flex;
    justify-content: center;
    align-items: center;  
    perspective: 300px;
    margin: 10%;

    .content {
      text-align: justify;
      font-weight: 300;
      line-height: 1.1rem;
      transform: rotateX(10deg); 
      max-width: 500px;

      h1, h2, h3 {
        text-align: center;
        margin-bottom: 1rem;
      }

      p {
        margin-bottom: 0.5rem;
      }
      
      ul {
        list-style: none;
      }

      a {
        color: var(--gray-200);
      }
    }
  }
}